@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+AU+VIC:wght@100..400&family=Playwrite+HU:wght@100..400&display=swap");

* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #f5f5f5;
  font-family: "Red Hat Text", serif;
  color: #1b1c1e;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subtitle {
  font-family: "Playwrite AU VIC", cursive;
  font-size: 2.2rem;
}

main {
  height: 100vh;
}

section {
  margin: 40px 0;
}

ul {
  height: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: left;
  background-color: #1e6eb4;
  list-style: none;
}

a {
  text-decoration: none;
  color: #f5f5f5;
}

h1,
h2,
h3 {
  color: #1e6eb4;
  font-family: "Questrial", sans-serif;
}

.usLuzern {
  width: 100%;
}

footer {
  display: flex;
  height: 15vh;
  justify-content: space-evenly;
  background-color: #1e6eb4;
}

.information,
.followUs,
.login {
  display: flex;
  flex-direction: column;
  margin: 12px 0;
  font-size: 0.9rem;
}

.instagram,
.facebook {
  height: 1.2rem;
  color: #1b1c1e;
}
