@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+AU+VIC:wght@100..400&family=Playwrite+HU:wght@100..400&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: (var(--primary-color));
  font-family: "Red Hat Text", serif;

  --primary-color: #f5f5f5;
  --secondary-color: #1b1c1e;
  --tertiary-color: #1e6eb4;
}

nav {
  height: 4rem;
  border-bottom: var(--tertiary-color) solid 5px;
}

.nav {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

.nav-item {
  text-decoration: none;
  color: var(--tertiary-color);
  transition: all 0.2s ease-in-out;
  font-size: 1rem;
}

.nav-item:hover {
  color: var(--secondary-color);
  border-left: var(--tertiary-color) solid 15px;
  padding-left: 18px;
}

header {
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url("./assets/images/usLuzern.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-logo {
  margin-top: 20rem;
  max-width: 600px;
}

.header-subtitle {
  font-family: "Playwrite AU VIC", cursive;
  font-size: 1.8rem;
  color: var(--tertiary-color);
  padding: 10px;
  background-color: var(--primary-color);
  border: var(--tertiary-color) solid 4px;
}

main {
  margin: 1.5rem 0;
}

h2 {
  color: var(--tertiary-color);
  font-family: "Questrial", sans-serif;
  border: var(--tertiary-color) solid 4px;
  width: fit-content;
  margin-bottom: 1.2rem;
  padding: 8px;
}

.image-container {
  margin-top: 0.8rem;
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  flex-wrap: wrap;
}

.image-item {
  width: 100%;
}

.openingHours {
  margin-top: 3rem;
}
.days {
  display: flex;
  justify-content: space-between;
}

.time {
  display: flex;
  justify-content: end;
}

footer {
  display: flex;
  background-color: var(--tertiary-color);
  padding: 1.5rem;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.title {
  margin-top: 0.6rem;
}

a {
  font-size: 0.8rem;
  text-decoration: none;
  color: var(--primary-color);
  padding: 0.1rem 0;
}

.information,
.followUs,
.login {
  display: flex;
  flex-direction: column;
}

.followUs-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.instagram,
.facebook {
  height: 1.2rem;
  color: var(--secondary-color);
  margin-right: 7px;
}

@media only screen and (min-width: 767px) {
  .image-item {
    height: 15vh;
    width: unset;
  }
  .footer {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
  .days {
    width: 40%;
  }
  .nav-item {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 1024px) {
}
